[submodule "catkin_ws/src/hrp"]
	path = catkin_ws/src/hrp
	url = https://github.com/HusqvarnaResearch/hrp
[submodule "catkin_ws/src/gesture-based-controller"]
	path = catkin_ws/src/gesture-based-controller
	url = https://github.com/EmaroLab/gesture-based-controller
